<link rel="stylesheet" href="/css/donate.css">
<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img src="<%= page.photos %>" src="<%- theme.lazyloadImg%>" data-src="<%= page.photos %>" class="lazyload"
      onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
  </div>
  <header class="pattern-header ">
    <h1 class="entry-title">谢谢饲主了喵~</h1>
  </header>
</div>
<div id="content" class="site-content">
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    如果喜欢我的博客，可以考虑资助一下哦~非常感激！
    <div id="root">
      <div class="root">
        <a href="https://github.com/Kaiyuan/donate-page" target="_blank" class="pos-f tr3" title="Github"><span
            id="github"></span></a>
        <ul id="donateBox" class="list pos-f tr3">
          <!-- <li id="BTC" data-footnote="Copy addres and show QRCod"><button id="BTCBn"  data-clipboard-target="#btc-key" alt="Copy to clipboard">Bitcoin</button></li> -->
          <li id="WeChat">WeChat</li>
        </ul>
        <div id="DonateText" class="tr3">赞助我</div>
        <div id="QRBox" class="pos-f left-115">
          <div id="MainBox"></div>
        </div>
        <!-- Bitcoin 账号 -->
        <!-- <input id="btc-key" type="text" value="14JkMR68n4PBASB3TgvpjtaPTbfffSwFbW" readonly="readonly"> -->
      </div>
    </div>
    <p><img class="lazyload" data-src="https://gitlab.com/KINGWDY/tgbb/-/raw/main/U09D-2.jpg"
        src="https://gitlab.com/KINGWDY/tgbb/-/raw/main/U09D-2.jpg" onerror="imgError(this)" alt=""></p>
        <link media="all" href="https://fairysen.com/wp-content/cache/autoptimize/css/autoptimize_566c92d2e4b07cb729b4cc6960a34389.css" rel="stylesheet" />
        <link rel='dns-prefetch' href='//jsdelivr.amogu.cn' />
        <style id='global-styles-inline-css' type='text/css'>
        </style><style type="text/css">
        </style>
        <details open="">
      <summary> 投食者名单（感谢支持）</summary>
      <table>
        <thead>
          <tr>
            <th align="left">饲主</th>
            <th align="left">投喂金额</th>
            <th align="left">时间</th>
            <th align="left">投喂方式</th>
            <th align="left">备注</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="left">**军</td>
            <td align="left">￥20</td>
            <td align="left">2021-12-16</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">J*e</td>
            <td align="left">￥88</td>
            <td align="left">2021-08-07</td>
            <td align="left">微信</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">*垂</td>
            <td align="left">￥6.66</td>
            <td align="left">2021-08-06</td>
            <td align="left">支付宝</td>
            <td align="left">主题美化相关_投喂~</td>
          </tr>
          <tr>
            <td align="left">*慷</td>
            <td align="left">￥20</td>
            <td align="left">2021-03-08</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">e*r</td>
            <td align="left">￥10</td>
            <td align="left">2021-03-02</td>
            <td align="left">微信</td>
            <td align="left">网站做的很棒呢</td>
          </tr>
          <tr>
            <td align="left">**党</td>
            <td align="left">￥10</td>
            <td align="left">2021-01-04</td>
            <td align="left">支付宝</td>
            <td align="left">想跟大佬学编程...</td>
          </tr>
          <tr>
            <td align="left">木头</td>
            <td align="left">￥50</td>
            <td align="left">2020-12-03</td>
            <td align="left">微信</td>
            <td align="left">喜欢那个网站风格，请不要介意</td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥20</td>
            <td align="left">2020-05-16</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**星</td>
            <td align="left">￥30</td>
            <td align="left">2020-05-12</td>
            <td align="left">支付宝</td>
            <td align="left">感谢大佬的Sakura主题美化相关文章</td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥9.67</td>
            <td align="left">2020-04-09</td>
            <td align="left">支付宝</td>
            <td align="left">机器人扶持</td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥17</td>
            <td align="left">2020-04-01</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥20</td>
            <td align="left">2020-02-25</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥26</td>
            <td align="left">2020-02-03</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥20</td>
            <td align="left">2020-01-15</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">安安</td>
            <td align="left">￥10</td>
            <td align="left">2019-12-17</td>
            <td align="left">微信</td>
            <td align="left">PY交易</td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥20</td>
            <td align="left">2019-12-15</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥30</td>
            <td align="left">2019-11-09</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥15</td>
            <td align="left">2019-08-05</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥5</td>
            <td align="left">2019-07-12</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
          <tr>
            <td align="left">**林</td>
            <td align="left">￥17</td>
            <td align="left">2019-06-15</td>
            <td align="left">支付宝</td>
            <td align="left"></td>
          </tr>
        </tbody>
      </table>
    </details>
    <div style="text-align:center; width: 100%" class="social-share share-mobile" data-disabled="diandian, tencent">
    </div>
    <footer class="post-footer">
      <div class="post-lincenses"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"
          rel="nofollow"><i class="fa fa-creative-commons" aria-hidden="true"></i> 知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
      </div>
      <div class="post-tags">
      </div>
      <div class="post-share">
        <div class="social-share sharehidden share-component"></div>
        <i class="iconfont show-share icon-forward"></i>
      </div>
    </footer><!-- .entry-footer -->
  </article>
  <section class="author-profile">
    <div class="info" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
      <a href="/about/" class="profile gravatar"><img src="<%- (theme.cdn || '') + theme.avatar%>" itemprop="image"
          alt="hojun" height="70" width="70"></a>
      <div class="meta">
        <span class="title">Author</span>
        <h3 itemprop="name">
          <a href="<%- theme.url%>" itemprop="url" rel="author">KINGWDY</a>
        </h3>
      </div>
    </div>
    <hr>
    <p><i class="iconfont icon-write"></i>
      <%- theme.description%>
    </p>
  </section>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script> -->
<script>
  jQuery(document).ready(function () {
    var QRBox = $('#QRBox');
    var MainBox = $('#MainBox');
    var BTCQR = '/images/donate/BTCQR.png'; // 二维码路径
    var WeChanQR = 'https://gitlab.com/KINGWDY/tgbb/-/raw/main/EBA5FF7A-2505-43A8-99F5-257745FAFAAA.webp';

    function showQR(QR) {
      if (QR) {
        MainBox.css('background-image', 'url(' + QR + ')');
      }
      $('#DonateText,#donateBox,#github').addClass('blur');
      QRBox.fadeIn(300, function (argument) {
        MainBox.addClass('showQR');
      });
    }

    $('#donateBox>li').click(function (event) {
      var thisID = $(this).attr('id');
      if (thisID === 'BTC') {
        new ClipboardJS('#BTCBn');
        new ClipboardJS('.btnsss');
        showQR(BTCQR);
      } else if (thisID === 'WeChat') {
        showQR(WeChanQR);
      }
    });

    MainBox.click(function (event) {
      MainBox.removeClass('showQR').addClass('hideQR');
      setTimeout(function (a) {
        QRBox.fadeOut(300, function (argument) {
          MainBox.removeClass('hideQR');
        });
        $('#DonateText,#donateBox,#github').removeClass('blur');
      }, 600);

    });
  });
</script>